<div class="container">
  <div class="row">
    <div class="jumbotron-fluid col-sm-12">
      <img class="rounded center-block" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22693%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20693%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16ac5df51a5%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A35pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16ac5df51a5%22%3E%3Crect%20width%3D%22693%22%20height%3D%22250%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22256.9921875%22%20y%3D%22140.6%22%3E693x250%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image" width="100%" >
      <h4 class="float-right">{{product.price}}元</h4>
      <h4>{{product.title}}</h4>
      <button type="button" class="float-right btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">发表评论</button>
      <p class="lead">{{product.desc}}</p>
      <p>
          <app-stars [rating]="product.rating"></app-stars>    
      </p>
      
              <!-- 模态框 -->
      <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">

              
              <!-- 模态框主体 -->
              <div class="modal-body">
                  <app-stars [(rating)]="newRating" [readonly]="false"></app-stars>
                  <form>
                      <div class="form-group">
                        <label for="comment">评论:</label>
                        <textarea name="newComment" class="form-control" rows="5" id="comment" [(ngModel)]="newComment"></textarea>
                      </div>
                    </form>
              </div>
        
              <!-- 模态框底部 -->
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="addComment()">提交</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
              </div>
        
            </div>
          </div>
        </div>
    </div>

    <div class="comment col-sm-12">
      <h4>商品评论
          <span class="badge badge-pill badge-primary">{{comments.length}}</span>
      </h4>
      
        <ul class="list-group list-group-flush">
            <li *ngFor="let comment of comments" class="list-group-item">     
              <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{comment.user}}</h5>
                  <small class="text-muted">{{comment.timestamp}}</small>
              </div>
                <p class="mb-1">{{comment.content}}</p>
                <small class="text-muted">
                  <app-stars [rating]="comment.rating"></app-stars>
                </small>
            </li>

            

          </ul>
    </div>
  </div>
</div>